@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffb8ea;
  --secondary-color: #aa5ef2;
  --dark: #73666f;
}

body {
  background-color: var(--dark);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-image-right {
  background-position: center right;
}

.dark-overlay {
  position: relative;
}

.dark-overlay > * {
  position: relative;
  z-index: 2;
}

.dark-overlay:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: #111;
  z-index: 1;
  opacity: 0.5;
}

@media screen and (max-width: 568px) {
  .bg-image-right {
    background-position: center 100%;
  }
}

.text-highlight {
  color: #aa5ef2;
}

.bg-highlight {
  background-color: #aa5ef2;
  border: none;
}

.bg-highlight:hover {
  background-color: #fff;
  color: #aa5ef2;
}

.bg-highlight-alt {
  background-color: #fff;
  color: #aa5ef2;
  border: none;
}

.bg-highlight-alt:hover {
  background-color: #aa5ef2;
  color: #fff;
}