@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffb8ea;
  --secondary-color: #aa5ef2;
  --dark: #73666f;
}

body {
  background-color: var(--dark);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-image-right {
  background-position: center right;
}

.dark-overlay {
  position: relative;
}

.dark-overlay > * {
  position: relative;
  z-index: 2;
}

.dark-overlay:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: #111;
  z-index: 1;
  opacity: 0.5;
}

@media screen and (max-width: 568px) {
  .bg-image-right {
    background-position: center 100%;
  }
}

.text-highlight {
  color: #aa5ef2;
}

.bg-highlight {
  background-color: #aa5ef2;
  border: none;
}

.bg-highlight:hover {
  background-color: #fff;
  color: #aa5ef2;
}

.bg-highlight-alt {
  background-color: #fff;
  color: #aa5ef2;
  border: none;
}

.bg-highlight-alt:hover {
  background-color: #aa5ef2;
  color: #fff;
}

.services {
  padding: 25px 0;
}

.services .container {
  max-width: 1078px;
  margin: 0 auto;
}

.services .container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .container .row a {
  flex: 0 0 24%;
  position: relative;
  margin-bottom: 1%;
  overflow: hidden;
  border-radius: 20px;
}

.services .container .row a img {
  max-width: 100%;
  height: auto;
  margin: 0;
  display: block;
  transition: 0.5s ease;
}

.services .container .row a:hover img {
  transform: scale(1.2,1.2);
  filter: grayscale(1);
}

.services h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  margin: 0;
  color: #fff;
}

@media screen and (max-width: 568px) {
  .services {
    padding: 15px 0;
  }

  .services .container .row a {
    flex: 0 0 49%;
    margin-bottom: 3%;
  }

  .services .container .row h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 568px) {
  .container {
    max-width: 85%;
  }
}